 
    --= General
    --= Custom Inputs
    --= Main heading / Title
    Side Menu
        --= Toggle menu button
        --= Add subreddits input
        --= Subreddits list / deletion
        --= Subreddits / side bar
    Images/settings
        --= Settings / sorting
        --= Images
        --= Loading / load more

    --= Full screen content showing
    --= Media queries

 */
/* ----------------------General---------------------- */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
:link, :visited {
    color: inherit;
    text-decoration: none;
    -webkit-transition: color 0.03s linear;
       -moz-transition: color 0.03s linear;
            transition: color 0.03s linear;
}
a:hover, a:active {
    text-decoration: underline;
}
html {
    color: #222;
    font-size: 16px;
}
body {
    padding-bottom: 50px;
    font-family: "Lato", "Montserrat", sans-serif;
    background: #ada996; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

audio, 
canvas, 
iframe, 
img, 
svg, 
video {
    vertical-align: middle;
}
header {
    background: #e0e0e0;
    margin-bottom: 70px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.35);
}

/* Helpers --> */
.hidden { display: none; }
.invisible { visibility: hidden; }
.clearfix:after {
    clear: both;
    content: "";
    display: block; 
}
.no-input-style {
    background: transparent;
    border: none;
    cursor :pointer;
    margin: 0;
    padding: 0;
}
.no-input-style:focus {
    outline: none;
}
/* <-- */

.browserupgrade {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}
/* Scroll to top btn --> */
.to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 2;
    display: none;

}
.to-top:hover {
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}
/* <-- */


.settings { 
    padding-bottom:20px;
    border-bottom: 2px solid #444;
    position: relative; 
}
/* --------------------------------------------------- */



/* ------------------Custom Inputs--------------------- */
/* Shared stylings --> */
.custom-checkbox-wrapper,
.custom-slider-wrapper {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.hidden-input {
    display: none;
}
.faux-checkbox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.faux-checkbox:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
}
/* <-- */


/* Tick-style checkbox --> */
.custom-checkbox-wrapper {
  width: 0.7em;
  height: 0.7em;
  border: 1px solid black;
  border-radius: 15%;
}
    /* OFF style */
.custom-checkbox-wrapper .faux-checkbox:after {
  top: 35%;
  bottom: 35%;
  left: 35%;
  right: 35%;
  background: transparent;
  border-radius: 15%;
}

    /* ON style */
.custom-checkbox-wrapper .hidden-input:checked + .faux-checkbox:after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(240,120,120);
    box-shadow: 0 0 12px 3px rgba(188,120,120,0.7);
}
/* <--  */


/* Slider-style checkbox -->  */
.custom-slider-wrapper {
    width: 70px;
    height: 28px;
    border-radius: 20px;
    border: 1px solid gray;
    margin: 10px 5px;
}
    /* OFF Styles */
.custom-slider-wrapper .faux-checkbox {
    background: rgba(120,0,0,0.6);
    border-radius: 20px;
}
.custom-slider-wrapper .faux-checkbox:after {
    top: 15%;
    bottom: 15%;
    left: 10%;
    right: 60%;
    background: silver;
    background: repeating-linear-gradient(135deg, silver 0%, silver 10%, gray 10%, gray 20%);
    border: 1px solid silver;
    border-radius: 20px;
}
.custom-slider-wrapper .input-text:after{
    content: "off";
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    line-height: 28px;
    text-align: right;
    padding-left: 1em;
    width: 100%;
    display: inline-block;
    padding-right: 1em;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

    /* ON Styles */
.custom-slider-wrapper .hidden-input:checked + .faux-checkbox {
    background: rgba(0, 120, 0, 0.6);
}
.custom-slider-wrapper .hidden-input:checked + .faux-checkbox:after {
    left: 60%;
    right: 10%;
}
.custom-slider-wrapper .hidden-input:checked ~ .input-text:after {
    content: "on";
    text-align: left;
}
/* <-- */
/* --------------------------------------------------- */



/* -------------Main Heading / Title------------------ */
.main-heading-container {
    color: #2b1f1f;
    font-family: "Montserrat", "Lato", sans-serif;
    font-size: 1.55rem;
    text-align: center;
}
.main-heading {
    text-shadow: 2px 2px 0 rgba(50, 50, 50, 0.8),
                 4px 4px 0 rgba(100,100,100,0.4);
    position: relative;
    display: inline-block;
    margin: 60px 0 10px 0;
    padding-right: 1.2em;
}
.main-heading:after { /*Image displayed after the heading text*/
    content: "";
    border-radius: 15%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    width: 0.9em;
    height: 0.9em;
    position: absolute;
    top: 50%;
    right: -0.1em;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url('../img/icon.png') center/cover no-repeat;
}
.normal-text, 
.special-text { 
    font-weight: bold; 
}
.special-text { color: #ca1b1b; }
.heading-info {
    font-size: 0.9em;
    margin: 0 0 10px 0;
}

.main-heading .special-text {
    background: rgba(100, 100, 100, 0.25);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10%;
    padding: 0 4px;
    margin: 0 6px;
}
/* --------------------------------------------------- */





/* ------------------Toggle menu Button------------------ */
/* Show/hide button container --> */
.menu-btn {
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    background: rgb(80, 80, 80);
    position: absolute;
    -webkit-transition: transform 0.1s linear;
       -moz-transition: transform 0.1s linear;
            transition: transform 0.1s linear;
    z-index: 101;
    border-radius: 5px;
}
/* <--*/

    /*Bars positining and styling*/
.hamburger-btn .bar {
    right: 10%;
    height: 10%;
    position: absolute;
    left: 10%;
    margin-top: -5%;
    border-radius: 15px;
    background: #ccc;
    -webkit-transition: all 0.13s linear;
       -moz-transition: all 0.13s linear;
            transition: all 0.13s linear;
}

/* Default (open menu) styling --> */
    /* Displays 3 parallel horizontal lines */
.hamburger-btn .bar:nth-child(1) { top: 25%; }
.hamburger-btn .bar:nth-child(2) { top: 50%; }
.hamburger-btn .bar:nth-child(3) { top: 75%; }
/* <-- */

/* Bar styling for closed side menu --> */
    /* Hides the middle bar*/
.open.hamburger-btn :nth-child(2) { opacity: 0; }
    /* Bring the bars to the center*/
.open.hamburger-btn > .bar { top: 50%; }
    /* Rotate the 1st and 3rd bars to create a cross*/
.open.hamburger-btn :nth-child(1){ 
    -webkit-transform: rotate(45deg); 
       -moz-transform: rotate(45deg); 
            transform: rotate(45deg); 

}
.open.hamburger-btn :nth-child(3){ 
    -webkit-transform: rotate(-45deg); 
       -moz-transform: rotate(-45deg); 
            transform: rotate(-45deg); 
}
/* <-- */
/* ------------------------------------------------------ */






/* -------------Add subreddit input------------------- */
.sr-search-container {
    background: #eee;
    border-top-right-radius: 20px;
    position: relative;
    width: 100%;
}
.add-sr {
    cursor: initial;
}
.sr-search-container > .awesomplete {
    border-bottom: 1px solid rgb(90, 90, 90);
    float: left;
    width: 70%;  /* Width of the input container */
}
.awesomplete > .awesomplete, .sr-search-container input { width: 100%; }
/* Add and clear buttons next to the input */
.add-sr-btn, 
.clear-input-btn {
    border-bottom: 1px solid rgb(90, 90, 90);
    border-left: 1px solid rgb(90, 90, 90);
    bottom: 0;
    color: rgb(60, 60, 60);
    position: absolute;
    top: 0;
    -webkit-transition: background 0.05s linear;
       -moz-transition: background 0.05s linear;
            transition: background 0.05s linear;
    width: 15%;
}
.add-sr-btn {
    border-top-right-radius: 20px;
    right: 0;
}
.clear-input-btn { right: 15%; }

.add-sr-btn:hover, 
.clear-input-btn:hover {
    background: rgb(236, 233, 216);
}
.add-sr-btn:active, 
.clear-input-btn:active {
    background: rgb(216, 213, 186);
}
/* Applies indentical padding to buttons and input */
.add-sr-btn, .add-sr {
    padding: 0.65em 0.3em;
    letter-spacing: 0.03em;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* --------------------------------------------------- */






/* -------------Subreddits list & Deletion----------------*/
/* General select all and delete styling --> */
.mult-del-container {
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
    border: 1px solid #2d2d2d;
    border-bottom: 2px solid black;
    text-align: center;
}
.mult-del-container > * {
    line-height: 35px;
    float: left;
    width: 40%;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* <-- */



/* Check all --> */
.mult-del-container label {
   border-right: 1px solid #444;
   position: relative;
}
    /* Checkboxes */
.mult-del-container .custom-checkbox-wrapper,
.subreddit-single .custom-checkbox-wrapper {
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* <-- */

/* Remove selected btn --> */
.mult-del {
    color: rgba(130, 30,30, 0.8);
    width: 60%;
}
.mult-del:hover { text-decoration: underline; }
.mult-del:hover .fa-trash {
    background: rgba(130, 30,30, 0.8);
    color: #cbcbcb;
}
.mult-del-container .fa-trash {
    width: 3rem;
    height: 35px;
    float: right;
    display: block;
    line-height: 35px;
    -webkit-transition: background 0.1s linear;
       -moz-transition: background 0.1s linear;
            transition: background 0.1s linear;
}
/* <-- */



/* Subreddits List --> */
.subreddit-single {
    width: 100%;
    margin: 8px auto;
    position: relative;
    color: #222;
    height: 35px;
    line-height: 35px;
}

.subreddit-single .del-sr {
    position: absolute;
    right: 0;
    width: 3rem;
    top: 0;
    bottom: 0;
    color: #ccc;
    background: rgba(130, 30,30, 0.5);
    -webkit-transition: background 0.1s linear;
       -moz-transition: background 0.1s linear;
            transition: background 0.1s linear;
}
.del-sr:hover {
    background: rgba(130, 30,30, 0.8);
    color: #aaa;
}
/* <-- */

/* Restore Subreddits Btn --> */
.restore-sr {
    border: 1px solid rgb(164, 165, 138);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 6px;
    background: #e4dfc7;
    color: #232323;
}
.restore-sr:hover {
    background: #c4c0ac
}
/* <-- */
/* ------------------------------------------------------ */







/* ----------------------Subreddits / Side Bar---------------------- */
    /* Side bar container */
.menu {
    position: absolute;
    max-width: 500px;
    min-width: 150px;
    width: 95%;
    top: 50px;
    left: 0;
    z-index: 100;
    border: 2px solid rgb(51, 51, 51);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    background: rgb(204, 204, 204);
    -webkit-transition: transform 0.5s ease-in-out;
       -moz-transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
}
    /* Handles the sliding motion of the side menu when this class is applied */
.slide-closed {
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
            transform: translateX(-100%);
}

.sr-list, 
.mult-del-container, 
.restore-sr {
    width: 75%;
    margin: 0 auto;
    border-left: 1px solid #454545;
}

/*Side menu headings -->*/
.menu h2,
.menu h3 {
    color: #383838;
    width: 75%;
    margin: 30px auto 15px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #565656;
}
/* <-- */


 /* Recommended/related subs  --> */
.recommended {
    margin: 0;
    list-style-type: none;
    font-size: 0.8rem;
    text-align: left;
    padding: 10px 10%;
}
.recommended li {
    border-radius: 7px;
    background: #bbb;
    margin: 5px 2.5%;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: background 0.1s linear;
       -moz-transition: background 0.1s linear;
            transition: background 0.1s linear;
}
.recommended li:hover {
    background:rgb(153, 153, 153);
    color: rgb(255, 255, 255);
}
.recommended li:active {
    background: rgb(102, 102, 102);
}
/* <-- */
/* ------------------------------------------------------ */





/* ----------------------Settings / Sorting----------------- */
/* Preferences --> */
.settings label {
    display: inline-block;
    width: 200px;
}
/* <-- */

/* Sorting --> */
.sorting {
    padding-left: 10px;
    border-top: 4px solid rgb(50, 50, 50);
    padding-top: 10px;
}
.sorting select {
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
    padding: 5px 10px;
}
.sorting select:first-child {
    margin: 0 10px 10px 7px;
}
/* <-- */

/* Reload / Re-fetch images --> */
.reload-imgs {
    position: absolute;
    bottom: -59px;
    left: 50%;
    margin-left:-23px;
    height: 46px;
    width: 46px;
    font-size: 1.7rem;
    border-radius: 4px;
}
.reload-imgs .fa {
    -webkit-transition: transform 0.3s linear;
       -moz-transition: transform 0.3s linear;
            transition: transform 0.3s linear;
}
.reload-imgs:hover .fa {
   -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
           transform: rotate(270deg);
   
}
.reload-imgs:hover { background: rgb(173, 169, 150); }
/* --> */

/* --------------------------------------------- */






/* ----------------------Images----------------- */
.images {
    padding: 10px;
    padding-bottom: 40px;
    position: relative;
}
.col-width { width: 100%; }
.img-result {
    width: 100%;
    opacity: 0;
    overflow: hidden;
    padding: 10px 5px;
    min-height: 5rem;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: opacity 0.5s linear;
       -moz-transition: opacity 0.5s linear;  
            transition: opacity 0.5s linear;
}
.img-result.visible { opacity: 1;}
.no-titles .img-desc{ display: none; }

/* Images and description --> */
.img-result .content {
    width: 100%;
    cursor: pointer;
    border: 1px solid rgb(130,130,130);
}
.pos-indicator, 
.img-desc {
    color: rgb(220,220,220);
    text-shadow: 1px 1px 0 black;
}
.img-desc .post-txt {
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    padding: 0.5em;
    background: rgba(0,0,0,0.3);
    overflow: hidden;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.img-desc .img-sr-name {
    position: absolute;
    padding: 5px 0 0 5px;
    top: 10px;
    left: 5px;
    text-align: left;
}
.img-sr-name {
    text-shadow: 1px 1px 0 black;
    color: rgb(220,220,220);
}
.post-txt { max-height: 2.8em; } 
/* <-- */
/* --------------------------------------------- */










/* -----------Loading & Load More -------------- */
/* Loading circle --> */
.loading {
    margin: 20px auto;
    width: 35px;
    height: 35px;
    border: 9px solid rgba(109, 109, 109, 0.1); /* "Background" of the loading circle */
    border-top-color: rgba(0,0,0,0.8); /* Moving part of the loading circle */
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
/* <-- */

/* Load more button --> */
.load-more {
    padding: 7px 7px;   
    border: 1px solid rgb(164, 165, 138);
    border-radius: 5px;
    margin: 50px auto 0 auto;
    display: block;
    max-width: 500px;
    width: 75%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    background: #e4dfc7;
    color: #232323;
    -webkit-transition: background 0.05s linear;
       -moz-transition: background 0.05s linear;
            transition: background 0.05s linear;
}

.load-more:hover { background: #c4c0ac; }
/* <-- */
/* --------------------------------------------- */




/* -----------Full Screen Image Showing -------------- */
.no-scroll-body { /* overflow: hidden alone not enough to stop scrolling on mobile devices */
    position: fixed;
    z-index: -1;
    overflow: hidden;
}
.full-screen-container {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(47, 47, 47) center/contain no-repeat;
    z-index: 200;
}
/* Content image/video --> */
.full-screen-container .whole-screen-content {
    width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
/* <-- */

/* Content description (subreddit, post text, images indicator) --> */
.full-screen-container .post-txt, 
.full-screen-container .img-sr-name {
    z-index: 201;
    text-align: left;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 black;
}
.full-screen-container .img-sr-name { 
    font-size: 0.85em; 
    letter-spacing: 0.08em;
}
.full-screen-container .post-txt {
    width: 75%;
    left: 0.1rem;
    bottom: 0.3em;
    background: transparent;
    overflow: hidden;
    z-index: 250;
}
.pos-indicator {
    bottom: 0;
    right: 1em;
    margin-bottom: 0.8em;
    display: block;
}
.full-screen-container .img-desc,
.pos-indicator { 
    font-size: 1.1rem; 
}
.full-screen-container .loading {
    position: absolute;
    left: -2.1em;
    bottom: 0;
    width: 0.7em;
    height: 0.7em;
    margin: 0;
    border-width: 0.3em;
}
/* <-- */




/* Previous, next and close --> */
.prev-arrow, 
.next-arrow, 
.close-full-screen, 
.pos-indicator, 
.next, 
.previous, 
.close {
    position: absolute;
    z-index: 210;
    cursor: pointer;
}
.next, 
.previous, 
.close {
    z-index: 230;
}
.next, 
.previous {
    width: 25%;
    top: 0;
    bottom: 0;

}
.previous { left: 0; }
.next { right: 0;}

.close {
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
}
.prev-arrow, 
.next-arrow, 
.close-full-screen {
    color: rgba(146, 146, 146, 0.8);
}
.prev-arrow, 
.next-arrow {
    top: 50%;
    margin-top: -50px;
    height: 100px;
    width: 30px;
    border-radius:20px;
    background: rgba(255, 255, 255, 0.1);
}


.prev-arrow {
    left: -20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transition: left 0.12s linear;
       -moz-transition: left 0.12s linear;
            transition: left 0.12s linear;
}
.next-arrow {
    right: -20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transition: right 0.12s linear;
       -moz-transition: right 0.12s linear;
            transition: right 0.12s linear;
}

.close-full-screen {
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.previous.hidden + .prev-arrow,
.next.hidden + .next-arrow {
    display: none;
}

.previous:hover + .prev-arrow , 
.next:hover + .next-arrow, 
.close:hover + .close-full-screen {
    background: rgba(255,255,255,0.2);
    color: rgba(25, 25, 25, 0.8);
}

.previous:hover + .prev-arrow { left: -20px; }
.next:hover + .next-arrow { right: -20px; }
.close-full-screen:hover { background: rgba(255,255,255,0.35); }

.previous:active + .prev-arrow ,
.next:active + .next-arrow,
.close:active + .close-full-screen {
    background: rgba(255,255,255,0.5);
    color: rgb(15,15,15);
}

.next:active + .next-arrow { right: 0; }
.previous:active + .prev-arrow { left: 0; }
/* <-- */
/* -------------------------------------------------- */


/* ----------------MEDIA QUERIES--------------------- */
/* Side bar --> */
@media screen and (max-width: 400px){
    .sr-list, 
    .mult-del-container, 
    .restore-sr {
        width: 90%;
        margin: 0 auto;
    }
    .mult-del-container { height: auto; }
    .mult-del-container > * { width: 100%; }
    .mult-del-container label {
        border-right: none;
        border-bottom: 1px solid rgb(125, 125, 125);
    }
    .mult-del {
        position: relative;
        text-align: center;
    }
    .mult-del .fa-trash {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .recommended { padding: 10px 2.5%; }
}
/* <-- */


/* Images percentages changes breakpoints (along with other related changes)  --> */
@media screen and (max-width: 2200px){
    .col-width, 
    .img-result {
        width: 16.6%;
    }
    .img-result.double { width: 33.2%; }
    .img-result.triple {  width: 49.8%;}

    /*===============*/
}

@media screen and (max-width: 1800px){
    .col-width, 
    .img-result {
        width: 20%;
    }
    .img-result.double { width: 40%; }
    .img-result.triple { width: 60%;}

    /*===============*/
    .img-desc { font-size: 0.9rem;}
}

@media screen and (max-width: 1380px){
    .col-width, 
    .img-result {
        width: 25%;
    }
    .img-result.double { width: 50%; }
    .img-result.triple {  width: 75%; }

    /*===============*/
    .img-desc { font-size: 0.85rem;}
}

@media screen and (max-width: 1100px){
    .col-width, 
    .img-result {
        width: 33.3%;
    }
    .img-result.double { width: 66.6%; }
    .img-result.triple {  width: 100%;}

    /*===============*/
    .img-desc { font-size: 0.85rem;}

    .main-heading-container { font-size: 1.15rem; }
    .heading-info { font-size: 1em; }

}

@media screen and (max-width: 640px){
    .col-width, 
    .img-result {
        width: 50%;
    }
    .img-result.double { width: 100%; }
    .img-result.triple {  width: 100%; }
    .full-screen-container .img-desc,
    .pos-indicator {
        font-size: 1rem;
    }

    /*===============*/
    .img-desc { font-size: 0.8rem;}
    .main-heading-container { font-size: 1.15rem; }
}
@media screen and (max-width: 400px){
    .col-width, 
    .img-result {
        width: 100%;
    }
    .img-result.double { width: 100%; }
    .img-result.triple {  width: 100%; }

    /*===============*/
    .img-desc { font-size: 0.75rem;}
    .main-heading-container { font-size: 1rem; }
}
/* <--  */


@media screen and (max-width: 960px){
    /* Keeps the image description to one line only */
    .post-txt { max-height: 1.7em; }
    .pos-indicator { margin-bottom: 0.3rem; }
}
@media screen and (min-width: 1280px){
    .img-desc { font-size: 0.85rem;}
}
@media screen and (min-width: 2200px){
    .col-width, 
    .img-result {
        width: 14.2%;
    }
}
    /*Important to overwrite previous rules in the stylesheet (because of identical specificity)*/
.img-desc .post-txt:hover, .post-txt:hover {
    max-height: none;
}
/* -------------------------------------------------- 