/* ----------------------General---------------------- */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
:link, :visited {
    color: inherit;
    text-decoration: none;
    transition: color 0.03s linear;
    -webkit-transition: color 0.03s linear;
    -moz-transition: color 0.03s linear;
}
a:hover, a:active {
    text-decoration: underline;
}
html {
    color: #222;
    line-height: 1.4;
    font-size: 16px;
}
body {
    padding-bottom: 50px;
    font-family: "Lato", "Montserrat", sans-serif;
    background: #ada996; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

audio, 
canvas, 
iframe, 
img, 
svg, 
video {
    vertical-align: middle;
}
header {
    background: #e0e0e0;
    margin-bottom: 70px;
    box-shadow: 0px 6px 10px 0 rgba(0,0,0,0.35);
}

/* Helpers --> */
.hidden { display: none !important; }
.invisible { visibility: hidden; }
.clearfix:after {
    content: "";
    display: block; 
    clear: both;
}
.no-input-style {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor :pointer;
}
/* <-- */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Scroll to top btn --> */
.toTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 2;
    display: none;

}
.toTop:hover {
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}
/* <-- */


.settings { padding-bottom:20px; }
/* --------------------------------------------------- */


















































































/* -------------Main Heading / Title------------------ */
.main-heading-container {
    color: #2b1f1f;
    font-family: "Montserrat", "Lato", sans-serif;
    font-size: 3rem;
    text-align: center;
}
.main-heading {
    text-shadow: 2px 2px 0 rgba(50, 50, 50, 0.8),
                 4px 4px 0 rgba(100,100,100,0.4);
    position: relative;
    display: inline-block;
    margin: 60px 0 10px 0;
    padding-right: 1.2em;
}
.main-heading:after { /*Image displayed after the heading text*/
    content: "";
    border-radius: 15%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    width: 0.9em;
    height: 0.9em;
    position: absolute;
    top: 50%;
    right: -0.1em;
    transform: translateY(-50%);
    background: url('../icon.png') center/cover no-repeat;
}
.normal-text, 
.special-text { 
    font-weight: bold; 
}
.special-text { color: #ca1b1b; }
.heading-info {
    font-size: 0.75em;
    margin: 0 0 10px 0;
}

.main-heading .special-text {
    background: rgba(100, 100, 100, 0.25);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10%;
    padding: 0 4px;
    margin: 0 6px;
}
/* --------------------------------------------------- */





































/* ----------------------Subreddits / Side Bar---------------------- */
.subreddits {
    position: absolute;
    max-width: 500px;
    min-width: 150px;
    width: 95%;
    top: 50px;
    left: 0;
    z-index: 100;
    
    border: 2px solid #333;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;

    background: #ccc;
    -webkit-transition: transform 0.5s ease-in-out;
       -moz-transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
}
.slideHidden {
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
/*Side menu headings -->*/
.subreddits h2,
.subreddits h3 {
    color: #383838;
    width: 75%;
    margin: 10px auto 15px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #565656;
}
/* <-- */


















    /*Add subreddit*/
    .srSearchContainer {
        width: 100%;
        background: #eee;
        border-top-right-radius: 20px;
        position: relative;
    }
    .srSearchContainer > .awesomplete {
        width: 70%;
        float: left;
        border-bottom: 1px solid black;
    }
    .awesomplete > .awesomplete {
        width: 100%;
    }
    .srSearchContainer input {
        width: 100%;
    }
    .addSubredditBtn, 
    .clearInputBtn {
        width: 15%;
        position: absolute;
        top: 0;
        bottom: 0;
        color: #222;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        transition: background 0.05s linear;
        
    }
    .addSubredditBtn {
       border-top-right-radius: 20px;
        right: 0;
        
        
    }
    .addSubredditBtn:hover, 
    .clearInputBtn:hover {
        background: rgb(236, 233, 216);
    }
    .addSubredditBtn:active, 
    .clearInputBtn:active {
        background: rgb(216, 213, 186);
    }
    .addSubredditBtn, .addSubreddit {
        font-size: 1rem;
        padding: 0.65em 0.3em;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        letter-spacing: 0.03em;
    }
    .clearInputBtn {
        right: 15%;
    }


    /* Subreddit list & Multiple Delete */
    .multipleDeleteContainer {
        height: 35px;
        font-size: 0.9em;
        border: 1px solid #2d2d2d;
        border-bottom: 2px solid black;
        text-align: center;

    }
    .multipleDeleteContainer > * {
        line-height: 35px;
        float: left;
        width: 40%;

        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .multipleDeleteContainer .fa-trash {
        width: 3rem;
        height: 35px;
        display: inline-block;
        text-align: center;
        float: right;
        display: block;
        line-height: 35px;
        transition: background 0.1s linear;
        -webkit-transition: background 0.1s linear;
        -moz-transition: background 0.1s linear;
    }

    .multipleDeleteContainer .custom-checkbox-wrapper {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);

    }
    .multipleDelete {
        color: rgba(130, 30,30, 0.8);
        width: 60%;
        cursor: pointer;
        /*position: relative;*/
    }
    .multipleDelete:hover {
        text-decoration: underline;
    }
    .multipleDelete:hover .fa-trash {
        background: rgba(130, 30,30, 0.8);
        color: #cbcbcb;
    }
    .multipleDeleteContainer label {
       border-right: 1px solid #444;
       position: relative;
    }
    .subredditList, 
    .multipleDeleteContainer, 
    .restoreSubreddits {
        width: 75%;
        margin: 0 auto;
        border-left: 1px solid #454545;
    }
    .subreddit-single {
        width: 100%;
        margin: 8px auto;
        position: relative;
        text-align: center;
        background: white;
        /*box-shadow: 0 0 7px 0px rgba(0,0,0,0.1);*/
        color: #222;
    }
    .subreddit-single .custom-checkbox-wrapper {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    .subreddit-single > label {
        height: 35px;
        line-height: 35px;
    }
    .subreddit-single .removeSubreddit {
        transition: background 0.1s linear;
        -webkit-transition: background 0.1s linear;
        -moz-transition: background 0.1s linear;
        float: left;
        position: absolute;
        right: 0;
        width: 3rem;
        top: 0;
        bottom: 0;
        text-align: center;
        color: #ccc;
        background: rgba(130, 30,30, 0.5);
    }
    .removeSubreddit:hover {
        color: #aaa;
        background: rgba(130, 30,30, 0.8);
    }
    .restoreSubreddits {
        border: 1px solid rgb(164, 165, 138);
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding:3px 6px;
        background: #e4dfc7;
        color: #232323;
    }
    .restoreSubreddits:hover {
        background: #c4c0ac
    }



    /* Recommended/related subs  */
    .recommended {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 0.8em;
        text-align: left;
        padding: 10px 10%;
    }

    .recommended li {
        border-radius: 7px;
        background: #bbb;
        margin: 5px 2.5%;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
        transition: background 0.1s linear;
        -webkit-transition: background 0.1s linear;
        -moz-transition: background 0.1s linear;
    }
    .recommended li:hover {
        background: #999;
        color: white;
    }
    .recommended li:active {
        background: #666;
    }


    /* Media  */
    @media screen and (max-width: 400px){
        .subredditList, 
        .multipleDeleteContainer, 
        .restoreSubreddits {
            width: 90%;
            margin: 0 auto;
            border-left: 1px solid #454545;
        }
        .recommended {
            padding: 10px 2.5%;
        }
        .multipleDeleteContainer {
            height: auto;
        }
        .multipleDeleteContainer > * {
            width: 100%;
        }
        .multipleDeleteContainer label {
            border-right: none;
            border-bottom: 1px solid black;
        }
        .multipleDelete {
            position: relative;
            text-align: center;
        }
        .multipleDelete .fa-trash {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
        }
        .recommended li {
            font-size: 0.9em;
        }
    }


    /* Checkboxes styling*/
    .custom-checkbox-wrapper {
      display: inline-block;
      width: 0.7em;
      height: 0.7em;
      border: 1px solid black;
      position: relative;
      border-radius: 15%;
      cursor: pointer;
    }

    .custom-checkbox-wrapper .hidden-input {
      display: none  
    }

    .custom-checkbox-wrapper .faux-checkbox {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 15%;
    }

    .custom-checkbox-wrapper .faux-checkbox:after {
      content: "";
      position: absolute;
      top: 35%;
      bottom: 35%;
      left: 35%;
      right: 35%;
      background: transparent;
      border-radius: 15%;
      transition: all 0.1s linear;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
    }

    .custom-checkbox-wrapper .hidden-input:checked + .faux-checkbox:after {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
       background: rgb(240,120,120);
       box-shadow: 0 0 12px 3px rgba(188,120,120,0.7);
    }

/* ------------------------------------------------------ */




















































/* ------------------Toggle menu Button------------------ */
/* Show/hide button container --> */
.menu-btn {
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    background: rgb(80, 80, 80);
    position: absolute;
    -webkit-transition: transform 0.1s linear;
       -moz-transition: transform 0.1s linear;
            transition: transform 0.1s linear;
    z-index: 101;
    border-radius: 5px;
}
/* <--*/

    /*Bars positining and styling*/
.hamburger-btn .bar {
    right: 10%;
    height: 10%;
    position: absolute;
    left: 10%;
    margin-top: -5%;
    border-radius: 15px;
/*    transform-origin: center center;*/
    -webkit-transition: all 0.13s linear;
       -moz-transition: all 0.13s linear;
            transition: all 0.13s linear;
    background: #ccc;
}

/* Default (open menu) styling --> */
    /* Displays 3 parallel horizontal lines */
.hamburger-btn .bar:nth-child(1) { top: 25%; }
.hamburger-btn .bar:nth-child(2) { top: 50%; }
.hamburger-btn .bar:nth-child(3) { top: 75%; }
/* <-- */

/* Bar styling for closed side menu --> */
    /* Hides the middle bar*/
.open.hamburger-btn :nth-child(2){
  opacity: 0;
  transition-duration: 0.1s;
}
    /* Bring the bars to the center*/
.open.hamburger-btn > .bar { top: 50%; }
    /* Rotate the 1st and 3rd bars to create a cross*/
.open.hamburger-btn :nth-child(1){ 
    transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 

}
.open.hamburger-btn :nth-child(3){ 
    transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -ms-transform: rotate(-45deg); 
}
/* <-- */
/* ------------------------------------------------------ */








































































/* ----------------------Images----------------- */
.col-width {
    width: 100%;
}
.imageResult .content {
    height: auto;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgb(175,175,175);
}

.imageResult {
    width: 100%;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;
    padding: 10px 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;  
    min-height: 5rem;
}

.imageResult.visible {
    opacity: 1;
}
.images {
    padding: 10px;
    padding-bottom: 40px;
    clear: both;
    position: relative;
}


.no-titles .imgDesc{
    display: none;
}

.positionIndicator, 
.imgDesc {
    font-size: 0.8rem;
    color: rgb(220,220,220);
    text-shadow: 1px 1px 0 black;


}
.imgDesc {
    text-overflow: ellipsis;
}
.imgDesc .postText {
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0.5em;
     background: rgba(0,0,0,0.3);
    overflow: hidden;
}
.imgDesc .imgSubredditName {
    position: absolute;
    padding: 5px 0 0 5px;
    top: 10px;
    left: 5px;
    text-align: left;

}
.imgSubredditName {
    text-shadow: 1px 1px 0 black;
    color: rgb(220,220,220);

}
.postText {
    max-height: 3.5em;
}

/* --------------------------------------------- */



















































































































/* ----------------------Settings / Sorting----------------- */

.gallerySettings {
    clear: both;
    margin-bottom: 50px;
    border-bottom: 2px solid #444;
    position: relative;
}

    /* Custom sliders */
    .settings label {
        display: inline-block;
        width: 200px;
        text-align: left;
    }

    .custom-slider-wrapper {
        width: 70px;
        height: 28px;
        display: block;
        cursor: pointer;
        position: relative;
        border-radius: 20px;
        border: 1px solid gray;
        margin: 10px 5px;
        display: inline-block;


    }

    .custom-slider-wrapper input {
        display: none
            
    }

    .custom-slider-wrapper .input-text:after{
        content: "off";
        font-size: 0.8em;
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        line-height: 28px;
        text-align: right;
        padding-left: 1em;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding-right: 1em;
    }

    .custom-slider-wrapper input:checked ~ .input-text:after {
        content: "on";
        text-align: left;
    }

    .custom-slider-wrapper .faux-checkbox {
            position: absolute;
            left: 0;
        right: 0;
        top: 0;
            bottom: 0;
        background: rgba(120,0,0,0.6);
        border-radius: 20px;
    }

    .custom-slider-wrapper .faux-checkbox:after {
        content: "";
        position: absolute;
        top: 15%;
        bottom: 15%;
        left: 10%;
        right: 60%;
        background: repeating-linear-gradient(135deg, silver 0%, silver 10%, gray 10%, gray 20%);
        border-radius: 20px;
        transition: all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        border: 1px solid silver
    }

    .custom-slider-wrapper input:checked + .faux-checkbox:after {
        position: absolute;
        left: 60%;
        top: 15%;
        bottom: 15%;
        right: 10%;
        border-radius: 20px;
    }
    .custom-slider-wrapper input:checked + .faux-checkbox {
        background: rgba(0,120,0,0.6)
    }
    .custom-slider-wrapper label:hover .faux-checkbox:after {
        background: repeating-linear-gradient(135deg, silver 0%, silver 10%, #333 10%, #333 20%);
    }

    /*Sorting*/
    .sorting {
        padding-left: 10px;
        border-top: 4px solid black;
        padding-top: 10px;
    }

    .sorting select {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .sorting select:first-child {
        margin: 0 10px 0 7px;
    }

.resetImages {
    position: absolute;
    bottom: -59px;
    left: 50%;
    margin-left:-23px;
    height: 46px;
    width: 46px;
    font-size: 1.7rem;
    border-radius: 4px;
}
.resetImages .fa {
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
}
.resetImages:hover .fa {
   transform: rotate(270deg);
   -webkit-transform: rotate(270deg);
   -moz-transform: rotate(270deg);
   -ms-transform: rotate(270deg);
   
}

.resetImages:hover {
    background: #ada996;
}

/* --------------------------------------------- */































































/* -----------Loading & Load More -------------- */
.loading {
    margin: 20px auto;
    width: 35px;
    height: 35px;
    border: 9px solid rgba(109, 109, 109, 0.1);
    border-top-color: rgba(0,0,0,0.8);
    border-radius: 50%;
    position: relative;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}
.loadMore {
    padding: 7px 7px;   
    font-size: 1rem;
    border: 1px solid rgb(164, 165, 138);
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-width: 500px;
    width: 75%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    background: #e4dfc7;
    color: #232323;
    position: absolute;
    bottom: 0;
    transition: background 0.05s linear;

}

.loadMore:hover {
    background: #c4c0ac;

}
/* --------------------------------------------- */
























































/* -----------Full Screen Image Showing -------------- */
.fullScreenShower {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #2f2f2f;
    z-index: 200;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.fullScreenShower .loading {
    position: absolute;
    left: -2.1em;
    width: 0.7em;
    height: 0.7em;
    margin: 0;
    margin-bottom: -0.35em;
    border-width: 0.3em;
}

.fullScreenShower .whole-screen-content {
/*    max-width: 100%;
    max-height: 100%;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.previousArrow, 
.nextArrow, 
.closeImageBtn, 
.positionIndicator, 
.next, 
.previous, 
.close {
    position: absolute;
    z-index: 210;
    cursor: pointer;
}
.next, 
.previous, 
.close {
    z-index: 230;
}

.previous {
    left: 0;
    top: 0;
    bottom: 0;
    width: 25%;
}

.next {
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
}

.previous:hover + .previousArrow {
    left: -20px;
}
.next:hover + .nextArrow {
    right: -20px;
}
.next:active + .nextArrow {
    right: 0;
}
.previous:active + .previousArrow {
    left: 0;
}

.close {
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
}
.closeImageBtn {
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 50%;
    background: rgba(255,255,255,0.1);
    transition: background 0.05s linear;
    -webkit-transition: background 0.05s linear;
    -moz-transition: background 0.05s linear;
}

.closeImageBtn:hover {
    background: rgba(255,255,255,0.35);
}

.fullScreenShower .imgSubredditName {
    font-size: 0.85em;
}
.previousArrow, 
.nextArrow {
    top: 50%;
    margin-top: -50px;
    height: 100px;
    width: 30px;
    transition: background 0.05s linear;
    -webkit-transition: background 0.05s linear;
    -moz-transition: background 0.05s linear;
    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    border-radius:20px;
    background: rgba(255,255,255,0.1);
}

.previousArrow, 
.nextArrow, 
.closeImageBtn {
    color: rgba(146, 146, 146, 0.8)
}


.previous:hover + .previousArrow , 
.next:hover + .nextArrow, 
.close:hover + .closeImageBtn {
    background: rgba(255,255,255,0.2);
    color: rgba(25, 25, 25, 0.8);
}
.previous:active + .previousArrow ,
.next:active + .nextArrow,
.close:active + .closeImageBtn {
    background: rgba(255,255,255,0.5);
    color: rgb(15,15,15);
}

.previousArrow {
    left: -20px;
    transition: left 0.12s linear;
    -webkit-transition: left 0.12s linear;
    -moz-transition: left 0.12s linear;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.nextArrow {
    right: -20px;
    transition: right 0.12s linear;
    -webkit-transition: right 0.12s linear;
    -moz-transition: right 0.12s linear;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.previous.hidden + .previousArrow,
.next.hidden + .nextArrow {
    display: none;
}

.noScrollBody {
    position: fixed;
    z-index: -1;
    overflow: hidden;
}

.positionIndicator {
    bottom: 0;
    right: 1em;
    padding: 0.3rem;
    display: block;
}


.fullScreenShower video {
    width: 100%;
    max-height: 100%;
}

.fullScreenShower img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
       height: auto;
}
.fullScreenShower .imgSubredditName {
    letter-spacing: 0.08em;
}
.fullScreenShower .postText, 
.fullScreenShower .imgSubredditName {
    z-index: 201;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 0 black;
}

.fullScreenShower .postText {
    left: 0;
    font-size: 0.9em;
    width: 75%;
    bottom: 0;
    background: transparent;
    overflow: hidden;
    z-index: 250;
}
/* -------------------------------------------------- */






















































/* ----------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 2200px){
  .col-width, 
  .imageResult {
    width: 16.6%;
    }
  .imageResult.double { width: 33.2%; }
  .imageResult.triple {  width: 49.8%;}
    .imgDesc { font-size: 1rem;}
}
@media screen and (max-width: 1800px){
    .col-width, 
    .imageResult {
        width: 20%;
    }
    .imageResult.double { width: 40%; }
    .imageResult.triple { width: 60%;}
    .imgDesc { font-size: 0.9rem;}
}
@media screen and (max-width: 1380px){
  .col-width, 
  .imageResult {
        width: 25%;
    }
  .imageResult.double { width: 50%; }
  .imageResult.triple {  width: 75%;}
    .imgDesc { font-size: 0.85rem;}
}
@media screen and (max-width: 1100px){
  .col-width, 
  .imageResult {width: 33.3%;}
  .imageResult.double { width: 66.6%; }
  .imageResult.triple {  width: 100%;}
    .imgDesc { font-size: 0.85rem;}
    .fullScreenShower .imgDesc, 
    .positionIndicator { 
        font-size: 1.1rem; 
    }
    .main-heading-container { font-size: 1.15rem; }

}
@media screen and (max-width: 640px){
    .col-width, 
    .imageResult {
        width: 50%;
    }
    .imageResult.double { width: 100%; }
    .imageResult.triple {  width: 100%;}
    .imgDesc { font-size: 0.8rem;}
    .main-heading-container { font-size: 1.15rem; }
    .main-heading-container .heading-info { font-size: 1em; }
}
@media screen and (max-width: 400px){
    .col-width, 
    .imageResult {
        width: 100%;
    }
    .imageResult.double { width: 100%; }
    .imageResult.triple {  width: 100%;}
    .imgDesc { font-size: 0.75rem;}
    .fullScreenShower .imgDesc, 
    .positionIndicator { 
        font-size: 1.1rem; 
    }
    .main-heading-container { font-size: 1rem; }
}





@media screen and (max-width: 960px){
    .postText {
        max-height: 2.0em;
    }
}
@media screen and (min-width: 960px){
  .main-heading-container {
    font-size: 1.55rem;
  }
}
@media screen and (min-width: 1280px){
 
    .fullScreenShower .imgDesc,
    .positionIndicator { font-size: 1.1rem; }
    .imgDesc { font-size: 0.85rem;}
}
@media screen and (min-width: 2200px){
    .col-width, 
    .imageResult {
        width: 14.2%;
    }
}

/* -------------------------------------------------- */




